<div class="navbar-main">
  <img src="credenca-logo.png" alt="Logo" class="navbar-logo" />
  <p class="navbar-center">&nbsp; Testing Environment &nbsp;</p>
  <div class="navbar-right">
    <button class="logout-button" (click)="showUserManagement = !showUserManagement">
      User Management
    </button>
    <button class="logout-button" (click)="showChangePasswordForm = !showChangePasswordForm">Change Password</button>

    <button class="logout-button" (click)="logout()">Logout</button>
  </div>
</div>
 
<div class="user-management" *ngIf="showUserManagement">
  <h3>User Management</h3>
  <button class="close" (click)="closeUserManagement()">X</button>

  <!-- Buttons to toggle sections -->
  <div class="button-container">
    <button (click)="toggleUserManagementSection('addUser')">Add User</button>
    <button (click)="toggleUserManagementSection('updateRole')">Update Role</button>
    <button (click)="toggleUserManagementSection('viewUsers')">View/Delete User</button>
  </div>

  <!-- Add New User Section -->
  <div *ngIf="currentSection === 'addUser'">
    <h4>Add New User</h4>
    
    <input
      [(ngModel)]="newUser.user_name"
      placeholder="Enter Username"
      required
    />
    <input
      [(ngModel)]="newUser.password"
      placeholder="Enter Password"
      type="password"
      required
    />
    <select [(ngModel)]="newUser.role_id">
      <option value="" disabled selected>Select a role</option>
      <option *ngFor="let role of roles" [value]="role.role_id">
        {{ role.role_name }}
      </option>
    </select><br>
    <button (click)="addUser()">Add User</button>
  </div>

  <!-- Edit Role Section -->
  <div *ngIf="currentSection === 'updateRole'">
    <h4>Edit User Role</h4>
    <label for="userSelect">Select User:</label>
    <select id="userSelect" [(ngModel)]="selectedUserId">
      <option value="" disabled selected>Select a user</option>
      <option *ngFor="let user of users" [value]="user.user_id">
        {{ user.user_name }}
      </option>
    </select><br>
    <label for="roleSelect">Select Role:</label>
    <select id="roleSelect" [(ngModel)]="selectedRoleId">
      <option value="" disabled selected>Select a role</option>
      <option *ngFor="let role of roles" [value]="role.role_id">
        {{ role.role_name }}
      </option>
    </select>

    <button (click)="updateUserRole()">Update Role</button>
  </div>

  <!-- View/Delete User Section -->
  <div *ngIf="currentSection === 'viewUsers'">
    <h4>Existing Users</h4>
    <table>
      <thead>
        <tr>
          <th>User Name</th>
          <th>Role</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.user_name }}</td>
          <td>{{ user.role_name }}</td>
          <td>
            <button (click)="deleteUser(user.user_id)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Alert Section -->
  <div *ngIf="alertMessage" class="alert" [ngClass]="alertType">
    {{ alertMessage }}
  </div>
</div>





<div>
  <div *ngIf="showChangePasswordForm" class="change-password-form">
    <h3>Change Password</h3>
    <form (ngSubmit)="changePassword()">
      <div>
        <label for="currentPassword">Current Password:</label>
        <input type="password" id="currentPassword" [(ngModel)]="currentPassword" name="currentPassword" required />
      </div>
      <div>
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required />
      </div>
      <div>
        <label for="confirmPassword">Confirm New Password:</label>
        <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required />
      </div>
      <button type="submit">Change Password</button>
    </form>
  </div>

  <!-- <button class="dy-button" (click)="toggleDetailView()">{{ showDetailView ? 'Normal View' : 'Show Detail View' }}</button> -->

<div>
  <!-- <div *ngIf="!showDetailView"> >
    <div class="table-container">
      <table class="candidate-table">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Position</th>
            <th>HR Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let candidate of paginatedCandidates; let i = index" (click)="openModal(candidate)">
            <td>{{ i + 1 }}</td> 
            <td>{{ candidate.Candidate_Name }}</td>
            <td>{{ candidate.Position }}</td>
            <td>{{ candidate.HR_Name }}</td>
          </tr>
        </tbody>
        
      </table>
      
    </div>
    <div class="pagination-controls">
      <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
      <span>Page {{ currentPage }} of {{ totalPages }}</span>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
    </div>
    
  </div> -->

<div>
  <div class="table-container-detail">

    <h2>Current Recruitment Pipeline</h2>


    <!-- Filter Section -->
    <div class="filter-container">
      <input type="text" placeholder="Filter by Name" [(ngModel)]="nameFilter" (input)="applyFilters()" />
      <!-- <input type="text" placeholder="Filter by Position" [(ngModel)]="positionFilter" (input)="applyFilters()" /> -->
      <!-- Position Dropdown -->
      <select [(ngModel)]="positionFilter" (change)="applyFilters()">
        <option value="">Select Position</option>
        <option *ngFor="let position of interviewOptions.positions" [value]="position">{{ position }}</option>
      </select>

      <input type="text" placeholder="Filter by HR Name" [(ngModel)]="hrNameFilter" (input)="applyFilters()" />

      <!-- <input type="text" placeholder="Filter by Round Number" [(ngModel)]="roundFilter" (input)="applyFilters()" /> -->
      <!-- Round Dropdown -->
      <select [(ngModel)]="roundFilter" (change)="applyFilters()">
        <option value="">Select Round</option>
        <option *ngFor="let round of interviewOptions.roundNumbers" [value]="round">{{ round }}</option>
      </select>


  <!-- Interviewer Dropdown -->
  <select [(ngModel)]="interviewerFilter" (change)="applyFilters()">
    <option value="">Select Interviewer</option>
    <option *ngFor="let interviewer of interviewOptions.interviewers" [value]="interviewer">{{ interviewer }}</option>
  </select>

      <input type="date" placeholder="Filter by Activity Date" [(ngModel)]="activityDateFilterInput"
        (change)="onDateChange()" />
      <!-- <input type="text" placeholder="Filter by Status" [(ngModel)]="statusFilter" (input)="applyFilters()" /> -->
      <select [(ngModel)]="statusFilter" (change)="applyFilters()">
        <option value="">Select Status</option>
        <option *ngFor="let status of interviewOptions.statuses" [value]="status">{{ status }}</option>
      </select>
      <button (click)="clearFilters()">Clear Filters</button>
    </div>
    <table class="candidate-table-detail">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Position</th>
          <th>HR Name</th>
          <th>Round</th>
          <th>Interviewer</th> <!-- New Column -->
          <th>Activity Date</th>
          <th>Update Date</th>
          <th>Status</th>
          <th>Remarks</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let candidate of paginatedCandidates; let i = index" (click)="openModal(candidate)">
          <td>{{ i + 1 }}</td>
          <td>{{ candidate.Candidate_Name }}</td>
          <td>{{ candidate.Position }}</td>
          <td>{{ candidate.HR_Name }}</td>
          <td>{{ candidate.Round_Number }}</td>
          <td>{{ candidate.Interviewer}}</td> <!-- Display Interviewer -->

          <td>{{ candidate.Interview_Date | date: 'dd-MMM-yyyy' }}</td>
          <td>{{ candidate.Updated_At | date: 'dd-MMM-yyyy' }}</td>
          <!-- <td class="remarks" [title]="candidate.Status || 'N/A'">{{ candidate.Status }}</td> -->
          <td [ngClass]="{
            'status-selected': candidate.Status === 'Selected',
            'status-final-selected': candidate.Status === 'Final Selected',
            'status-rejected': candidate.Status === 'Rejected',
            'status-other': candidate.Status !== 'Selected' &&
                            candidate.Status !== 'Final Selected' &&
                            candidate.Status !== 'Rejected'
        }">
        {{ candidate.Status || 'N/A' }}
    </td>
          <td class="remarks" [title]="candidate.Remarks || 'N/A'">{{ candidate.Remarks || 'N/A' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pagination-controls">
    <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
  </div>
</div>
  

  <!-- Modal -->
  <div class="modal" *ngIf="selectedCandidate">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <h3> <span class="underlined">{{ selectedCandidate.Candidate_Name }}</span> - Details</h3>
      <p><strong>Position:</strong> {{ selectedCandidate.Position }}</p>
      <p><strong>HR Name:</strong> {{ selectedCandidate.HR_Name }}</p>
      <h4>Interview Rounds:</h4>
      <table>
        <thead>
          <tr>
            <th>Rounds</th>
            <th>Interviewer</th>
            <th>Activity Date</th>

            <th>Update Date</th> <!-- New column for Update Date -->


            <th>Status</th>
            <th>Remarks</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let round of selectedCandidate.interviewRounds">
            <td>{{ round.Round_Number }}</td>
            <td>{{ round.Interviewer }}</td>
            <td>{{ round.Interview_Date }}</td>
            <td>{{ round.Updated_At }}</td> <!-- Display Update Date -->
            <td title="{{ round.Status }}">{{ round.Status }}</td> <!-- Tooltip for Status -->
      <td title="{{ round.Remarks }}">{{ round.Remarks }}</td> <!-- Tooltip for Remarks -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
