<div class="navbar-main">
  <img src="credenca-logo.png" alt="Logo" class="navbar-logo" />
  <p class="navbar-center"> &nbsp;</p>
  <div class="navbar-right">
    <p>Welcome, {{ loggedInHR }}</p>
    <button *ngIf="isAdmin" (click)="toggleAdminPanel()">Open Admin Panel</button>
    <button *ngIf="isHrAdmin" (click)="toggleHRDetails()">Open HR's Details</button>
    <!-- <button *ngIf="isHrAdmin" (click)="toggleHRDetails()">
      {{ isHRDetailsVisible ? 'Close HR\'s Details' : 'Open HR\'s Details' }}
    </button> -->
    
    <button class="change-password-button" (click)="showChangePasswordForm = !showChangePasswordForm">Change
      Password</button>
    <button class="logout-button" (click)="logout()">Logout</button>
  </div>
</div>

<div *ngIf="showChangePasswordForm" class="change-password-form">
  <h3>Change Password</h3>
  <form (ngSubmit)="changePassword()">
    <div>
      <label for="currentPassword">Current Password:</label>
      <input type="password" id="currentPassword" [(ngModel)]="currentPassword" name="currentPassword" required />
    </div>
    <div>
      <label for="newPassword">New Password:</label>
      <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required />
    </div>
    <div>
      <label for="confirmPassword">Confirm New Password:</label>
      <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required />
    </div>
    <button type="submit">Change Password</button>
  </form>
</div>


<div *ngIf="isAdmin && isAdminPanelVisible" class="admin-section">
  <h3>Admin Panel</h3>
  <button class="close" (click)="closeAdminPanel()">X</button>

  <div class="button-container">
    <button (click)="toggleSection('positions')">Manage Positions</button>
    <button (click)="toggleSection('statuses')">Manage Statuses</button>
    <button (click)="toggleSection('interviewers')">Manage Interviewers</button>
  </div>

  <!-- Manage Positions Section -->
  <div *ngIf="currentSection === 'positions'">
    <h4>Manage Positions</h4>
    <select [(ngModel)]="selectedAdminEntry.id" (change)="onPositionSelect()">
      <option value="" disabled selected>Select a position</option>
      <option *ngFor="let position of adminData.positions" [value]="position.position_id">{{ position.position_name }}
      </option>
    </select>
    <button *ngIf="selectedAdminEntry.id" (click)="deleteAdminEntry('position', selectedAdminEntry.id)">Delete
      Position</button>
    <input [(ngModel)]="newPositionEntry.name" placeholder="New Position" />
    <div *ngIf="alertMessage" class="alert" [ngClass]="alertType">
      {{ alertMessage }}
    </div>
    <button (click)="addAdminEntry('position')">Add Position</button>
  </div>

  <!-- Manage Statuses Section -->
  <div *ngIf="currentSection === 'statuses'">
    <h4>Manage Statuses</h4>
    <select [(ngModel)]="selectedAdminEntry.id" (change)="onStatusSelect()">
      <option value="" disabled selected>Select a status</option>
      <option *ngFor="let status of adminData.statuses" [value]="status.status_id">{{ status.status_name }}</option>
    </select>
    <button *ngIf="selectedAdminEntry.id" (click)="deleteAdminEntry('status', selectedAdminEntry.id)">Delete
      Status</button>
    <input [(ngModel)]="newStatusEntry.name" placeholder="New Status" />
    <div *ngIf="alertMessage" class="alert" [ngClass]="alertType">
      {{ alertMessage }}
    </div>
    <button (click)="addAdminEntry('status')">Add Status</button>
  </div>

  <!-- Manage Interviewers Section -->
  <div *ngIf="currentSection === 'interviewers'">
    <h4>Manage Interviewers</h4>
    <select [(ngModel)]="selectedAdminEntry.id" (change)="onInterviewerSelect()">
      <option value="" disabled selected>Select an interviewer</option>
      <option *ngFor="let interviewer of adminData.interviewers" [value]="interviewer.interviewer_id">{{
        interviewer.interviewer_name }}</option>
    </select>
    <button *ngIf="selectedAdminEntry.id" (click)="deleteAdminEntry('interviewer', selectedAdminEntry.id)">Delete
      Interviewer</button>
    <input [(ngModel)]="newInterviewerEntry.name" placeholder="New Interviewer" />
    <div *ngIf="alertMessage" class="alert" [ngClass]="alertType">
      {{ alertMessage }}
    </div>
    <button (click)="addAdminEntry('interviewer')">Add Interviewer</button>
  </div>

</div>

<br><br>





<div *ngIf="isHRDetailsVisible">
  <button class="close-btn-right" (click)="isHRDetailsVisible = false">Close HR's Details</button>

  <div class="get-candidate-table-container">
    <h3>All Candidates Information</h3>

    <div class="filter-container">
      <input type="text" [(ngModel)]="nameFilterAll" placeholder="Search by Name" (input)="applyFiltersAllCandidates()">
      <select [(ngModel)]="positionFilterAll" (change)="applyFiltersAllCandidates()">
        <option value="" disabled>Select Position</option>
        <option *ngFor="let position of interviewOptions.positions" [value]="position">{{ position }}</option>
      </select>
    
      <input type="text" placeholder="Search HR Name" [(ngModel)]="hrNameFilterAll" (input)="applyFiltersAllCandidates()">



      <select [(ngModel)]="roundFilterAll" (change)="applyFiltersAllCandidates()">
        <option value="" disabled>Select Round</option>
        <option *ngFor="let round of interviewOptions.roundNumbers" [value]="round">{{ round }}</option>
      </select>
    
      <select [(ngModel)]="interviewerFilterAll" (change)="applyFiltersAllCandidates()">
        <option value="" disabled>Select Interviewer</option>
        <option *ngFor="let interviewer of interviewOptions.interviewers" [value]="interviewer">{{ interviewer }}</option>
      </select>
    
      <input type="date" [(ngModel)]="activityDateFilterInputAll" (change)="onDateChangeAll()" />
      
      <select [(ngModel)]="statusFilterAll" (change)="applyFiltersAllCandidates()">
        <option value="" disabled>Select Status</option>
        <option *ngFor="let status of interviewOptions.statuses" [value]="status">{{ status }}</option>
      </select>
    
      <button (click)="clearAllFilters()">Clear Filters</button>
    </div>
    



    <!-- Candidates Table -->
    <div class="get-candidate-table">
      <table>
        <thead>
          <tr>
            <th>Serial No.</th>
            <th>Name</th>
            <th>Position</th>
            <th>HR Name</th>
            <th>Round</th>
            <th>Interviewer</th>
            <th>Activity Date</th>
            <th>Update Date</th>
            <th>Status</th>
            <th>Remarks</th>
            <th>Actions</th> <!-- New column for actions -->

          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let allCandidate of paginatedAllCandidates; let i = index">
            <td>{{ (currentPageAllCandidates - 1) * pageSizeAllCandidates + (i + 1) }}</td>
            <td>{{ allCandidate.Candidate_Name }}</td>
            <td>{{ allCandidate.Position }}</td>
            <td>{{ allCandidate.HR_Name }}</td>
            <td>{{ allCandidate.Round_Number || 'N/A' }}</td>
            <td>{{ allCandidate.Interviewer || 'N/A' }}</td>
            <td>{{ allCandidate.Interview_Date || 'N/A' }}</td>
            <td>{{ allCandidate.Updated_At || 'N/A' }}</td>

            <td [ngClass]="{
              'status-selected': allCandidate.Status === 'Selected',
              'status-final-selected': allCandidate.Status === 'Final Selected',
              'status-rejected': allCandidate.Status === 'Rejected',
              'status-other': allCandidate.Status !== 'Selected' && allCandidate.Status !== 'Final Selected' && allCandidate.Status !== 'Rejected'
            }">
              {{ allCandidate.Status || 'N/A' }}
            </td>

            <td class="remarks" [title]="allCandidate.Remarks">{{ allCandidate.Remarks }}</td>

            <!-- Actions Column -->
            <td>
              <button class="action-button" (click)="openHistoryModalForCandidate(allCandidate)">
                History
              </button>
            </td>

          </tr>
        </tbody>
      </table>



    </div>
    <!-- Pagination Controls -->
    <div class="pagination-controls">
      <button (click)="previousPageAllCandidates()" [disabled]="currentPageAllCandidates === 1"
        class="pagination-button">Previous</button>
      <span>Page {{ currentPageAllCandidates }} of {{ totalPagesAllCandidates }}</span>
      <button (click)="nextPageAllCandidates()" [disabled]="currentPageAllCandidates === totalPagesAllCandidates"
        class="pagination-button">Next</button>
    </div>
  </div>
  <hr>
</div>



<!-- hr  if role -->
<div *ngIf="isHR">
  <div class="container">

    <div *ngIf="!isHRDetailsVisible">
    <!-- Button to Open Modal -->
    <button (click)="openModal()">Add New Candidate</button>
    <div class="modal" *ngIf="isModalOpen">
      <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <h2>Add New Candidate</h2>
        <form (ngSubmit)="addNewCandidate()">

          <!-- Candidate Name -->
          <div>
            <label for="name">Name:</label>
            <input [(ngModel)]="newCandidate.name" name="name" placeholder="Enter Name" required />
          </div>

          <!-- Candidate Position -->
          <div>
            <label for="position">Position:</label>
            <select [(ngModel)]="newCandidate.position" name="position" required>
              <option value="" disabled>Select position</option>
              <option *ngFor="let position of interviewOptions.positions" [value]="position">{{ position }}</option>
            </select>
          </div>

          <!-- Round Number -->
          <div>
            <label for="round_number">Round:</label>
            <select [(ngModel)]="newRound.round_number" name="round_number"
              (change)="isCustomRound = newRound.round_number === 'Custom'" required>
              <option value="" disabled>Select Round Number</option>
              <option *ngFor="let round of interviewOptions.roundNumbers" [value]="round">{{ round }}</option>
              <!-- <option value="Custom">Custom</option> -->
            </select>
          </div>
          <!-- <div *ngIf="isCustomRound">
            <label for="customRoundNumber">Enter Custom Round Number:</label>
            <input type="text" [(ngModel)]="newRound.customRoundNumber" name="customRoundNumber"
              placeholder="Type custom round number" />
          </div> -->

          <!-- Interviewer -->
          <div>
            <label for="interviewer">Interviewer:</label>
            <select [(ngModel)]="newRound.interviewer" name="interviewer" required>
              <option value="" disabled>Select Interviewer</option>
              <option *ngFor="let interviewer of interviewOptions.interviewers" [value]="interviewer">{{ interviewer }}
              </option>
            </select>
          </div>

          <!-- Interview Date -->
          <!-- <div>
            <label for="interview_date">Interview Date:</label>
            <input type="date" [(ngModel)]="newRound.interview_date" name="interview_date" [min]="todayDate" required />
          </div> -->

          <!-- Interview Date -->
          <div>
            <label for="interview_date">Interview Date:</label>
            <input type="date" [(ngModel)]="newRound.interview_date" name="interview_date" required />
          </div>


          <!-- Remove Status 02-12-2024 -->
          <!-- <div>
            <label for="status">Status:</label>
            <select [(ngModel)]="newRound.status" name="status" required>
              <option value="" disabled>Select Status</option>
              <option *ngFor="let status of interviewOptions.statuses" [value]="status">{{ status }}</option>
            </select>
          </div> -->

          <!-- Remarks -->
          <div>
            <label for="remarks">Remarks:</label>
            <textarea [(ngModel)]="newRound.remarks" name="remarks" placeholder="Any Remarks?"></textarea>
          </div>

          <!-- Submit Button -->
          <div *ngIf="alertMessage" class="alert" [ngClass]="alertType">{{ alertMessage }}</div>
          <button type="submit">Add New Candidate</button>
        </form>
      </div>
    </div>


    <!-- candidate list -->
    <div class="get-candidate-table-container">
      <h2>Current Recruitment Pipeline</h2>

      <!-- Filter Section -->
      <div class="filter-container">
        <input type="text" [(ngModel)]="nameFilter" placeholder="Search by Name" (input)="applyFilters()">
        <!-- <input type="text" [(ngModel)]="positionFilter" placeholder="Search by Position" (input)="applyFilters()"> -->

        <select [(ngModel)]="positionFilter" (change)="applyFilters()">
          <option value="" disabled>Select Position</option>
          <option *ngFor="let position of interviewOptions.positions" [value]="position">{{ position }}</option>
        </select>



        <!-- <input type="text" [(ngModel)]="roundFilter" placeholder="Search by Round" (input)="applyFilters()"> -->
        <!-- Round Filter -->
        <select [(ngModel)]="roundFilter" (change)="applyFilters()">
          <option value="" disabled>Select Round</option>
          <option *ngFor="let round of interviewOptions.roundNumbers" [value]="round">{{ round }}</option>
        </select>


        <!-- <input type="text" [(ngModel)]="interviewerFilter" placeholder="Search by Interviewer" (input)="applyFilters()"> -->
        <!-- Interviewer Filter -->
        <select [(ngModel)]="interviewerFilter" (change)="applyFilters()">
          <option value="" disabled>Select Interviewer</option>
          <option *ngFor="let interviewer of interviewOptions.interviewers" [value]="interviewer">{{ interviewer }}
          </option>
        </select>
        <!-- Activity Date Filter with Calendar -->

        <input type="date" [(ngModel)]="activityDateFilterInput" (change)="onDateChange()" />
        <!-- <input type="text" [(ngModel)]="statusFilter" placeholder="Search by Status" (input)="applyFilters()"> -->
        <!-- Status Filter -->
        <select [(ngModel)]="statusFilter" (change)="applyFilters()">
          <option value="" disabled>Select Status</option>
          <option *ngFor="let status of interviewOptions.statuses" [value]="status">{{ status }}</option>
        </select>
        <button (click)="clearFilters()">Clear Filters</button>

      </div>

      <div class="get-candidate-table">
        <table>
          <thead>
            <tr>
              <th>Serial No.</th>
              <th>Name</th>
              <th>Position</th>
              <th>Round</th>
              <th>Interviewer</th>
              <th>Activity Date</th>
              <th>Update Date</th>
              <th>Status</th>
              <th>Remarks</th>
              <th>Decision</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let candidate of paginatedCandidates; let i = index">
              <td>{{ (currentPage - 1) * pageSize + (i + 1) }}</td> <!-- Display correct serial number -->
              <td>{{ candidate.Candidate_Name }}</td>
              <td>{{ candidate.Position }}</td>
              <td>{{ candidate.Round_Number || 'N/A' }}</td>
              <td>{{ candidate.Interviewer || 'N/A' }}</td>
              <td>{{ candidate.Interview_Date || 'N/A' }}</td>
              <td>{{ candidate.Updated_At || 'N/A' }}</td>

              <td [ngClass]="{
                'status-selected': candidate.Status === 'Selected',
                'status-final-selected': candidate.Status === 'Final Selected',
                'status-rejected': candidate.Status === 'Rejected',
                'status-other': candidate.Status !== 'Selected' && candidate.Status !== 'Final Selected' && candidate.Status !== 'Rejected'
              }">
                {{ candidate.Status || 'N/A' }}
              </td>

              <td class="remarks" [title]="candidate.Remarks || 'N/A'">{{ candidate.Remarks }}</td>

              <td>
                <button (click)="openDecisionModal(candidate)"
                  [disabled]="candidate.Status === 'Selected' || candidate.Status === 'Rejected' || candidate.Status === 'On Hold' || candidate.Status === 'Final Selected'">
                  Decision
                </button>
              </td>
              <!-- Reschedule/Add Round buttons with conditions -->
              <td>
                <ng-container *ngIf="candidate.Status === 'Scheduled'; else addRound">
                  <button (click)="showAddRoundSection(candidate, true)"
                    [disabled]="candidate.Status === 'Rejected'">Reschedule</button>
                </ng-container>

                <ng-template #addRound>
                  <button (click)="showAddRoundSection(candidate, false)"
                    [disabled]="candidate.Status === 'Rejected' || candidate.Status === 'Final Selected'">
                    Add Round
                  </button>
                </ng-template>

                <!-- Ellipsis button to select candidate -->
                <button (click)="selectCandidate(candidate); $event.stopPropagation()">...</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Pagination Controls -->
      <div class="pagination-controls">
        <button (click)="previousPage()" [disabled]="currentPage === 1" class="pagination-button">Previous</button>
        <span>Page {{ currentPage }} of {{ totalPages }}</span>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="pagination-button">Next</button>
      </div>
    </div>
  </div>

    <!-- Modal for Actions (Update, View History, Delete) -->
    <div *ngIf="showActionModal" class="modal">
      <div class="modal-content">
        <span class="close" (click)="closeActionModal()">&times;</span> <!-- Close button -->
        <h2>Actions for <span class="underlined">{{ selectedCandidate.Candidate_Name }}</span></h2>
        <div class="button-group">

          <button class="action-button" (click)="showUpdateCandidateSection()">Update Candidate</button>
          <button class="action-button" (click)="showHistorySection()">View History</button>
          <!-- Add a button to update the last interview round -->
          <button class="action-button" (click)="openUpdateLastRoundModal()">Update Round</button>

          <button *ngIf="isAdmin && isHR" class="action-button"
            (click)="deleteInterviewRound(selectedCandidate.Candidate_ID, selectedCandidate.Round_Number, selectedCandidate.Candidate_Name)">
            Delete Round
          </button>
        </div>
        <div *ngIf="alertMessage" class="alert" [ngClass]="alertType">{{ alertMessage }}</div>
      </div>
    </div>


    <div *ngIf="showModal" class="modal">
      <div class="modal-content">
        <form (submit)="submitDecision()">
          <h2>Make a Decision for <span class="underlined">{{ currentCandidate.Candidate_Name }}</span></h2>

          <select [(ngModel)]="selectedDecision" name="decision" required>
            <option value="" disabled>Select Status</option>
            <option *ngFor="let status of filteredStatuses" [value]="status">{{ status }}</option>
          </select>



          <label for="remarks">Remarks</label>
          <textarea id="remarks" [(ngModel)]="remarks" name="remarks"></textarea>

          <div class="modal-actions">
            <div *ngIf="alertMessage" class="alert" [ngClass]="alertType">{{ alertMessage }}</div>

            <button type="submit" class="submit-button">Submit</button>
            <span class="close" (click)="closeDecisionModal()">&times;</span> <!-- Close button -->

          </div>
        </form>
      </div>
    </div>


    <!-- Modal for Updating Last Interview Round -->
    <div class="modal" *ngIf="showUpdateLastRoundModal">
      <div class="modal-content">
        <span class="close" (click)="toggleUpdateLastRoundModal()">&times;</span>
        <h2>Update Interview Round for <span class="underlined">{{ selectedCandidate.Candidate_Name }}</span></h2>
        <form (ngSubmit)="updateLastRound()">
          <!-- Round Number Selection -->
          <div>
            <label for="round_number">Round:</label>
            <select [(ngModel)]="updatedRound.round_number" name="round_number" required>
              <option value="" disabled>Select Round Number</option>
              <option *ngFor="let round of interviewOptions.roundNumbers" [value]="round">{{ round }}</option>
            </select>
          </div>


          <!-- Interviewer Selection -->
          <div>
            <label for="interviewer">Interviewer:</label>
            <select [(ngModel)]="updatedRound.interviewer" name="interviewer" required>
              <option value="" disabled>Select Interviewer</option>
              <option *ngFor="let interviewer of interviewOptions.interviewers" [value]="interviewer">{{ interviewer }}
              </option>
            </select>
          </div>

          <!-- Interview Date -->
          <div>
            <label for="interview_date">Interview Date:</label>
            <input type="date" [(ngModel)]="updatedRound.interview_date" name="interview_date" required
              [attr.min]="lastInterviewDate" />
          </div>

          <!-- Status -->
          <div>
            <label for="status">Status:</label>
            <select [(ngModel)]="updatedRound.status" name="status" required>
              <option value="" disabled>Select Status</option>
              <option *ngFor="let status of interviewOptions.statuses" [value]="status">{{ status }}</option>
            </select>
          </div>

          <!-- Remarks -->
          <div>
            <label for="remarks">Remarks:</label>
            <textarea [(ngModel)]="updatedRound.remarks" name="remarks"></textarea>
          </div>
          <div *ngIf="alertMessage" class="alert" [ngClass]="alertType">{{ alertMessage }}</div>

          <!-- Submit Button -->
          <button type="submit">Update Interview Round</button>
        </form>
      </div>
    </div>



    <!-- Add New Interview Round Form for Selected Candidate -->
    <!-- Modal for Adding Interview Round -->
    <div class="modal" *ngIf="showAddRoundModal">
      <div class="modal-content">
        <span class="close" (click)="toggleAddRoundModal()">&times;</span>
        <!-- <h2>Add Interview Round for <span class="underlined">{{ selectedCandidate.Candidate_Name }}</span></h2> -->
        <h2>
          <!-- Conditional text based on whether it's reschedule or add round -->
          <span *ngIf="isReschedule; else addRoundText">Reschedule Round for </span>
          <ng-template #addRoundText>Add Interview Round for </ng-template>
          <span class="underlined">{{ selectedCandidate.Candidate_Name }}</span>
        </h2>
        <form (ngSubmit)="addNewRound()">
          <!-- Round Number Selection -->

          <div *ngIf="!isReschedule">
            <label for="round_number">Round:</label>
            <select [(ngModel)]="newRound.round_number" name="round_number" required>
              <option value="" disabled>Select Round Number</option>
              <option *ngFor="let round of interviewOptions.roundNumbers" [value]="round">{{ round }}</option>
            </select>
          </div>


          <!-- Interviewer Selection (No Custom Option) -->
          <div *ngIf="!isReschedule">
            <label for="interviewer">Interviewer:</label>
            <select [(ngModel)]="newRound.interviewer" name="interviewer" required>
              <option value="" disabled>Select Interviewer</option>
              <option *ngFor="let interviewer of interviewOptions.interviewers" [value]="interviewer">{{ interviewer }}
              </option>
            </select>
          </div>

          <!-- Interview Date Selection -->
          <div>
            <label for="interview_date">Interview Date:</label>
            <input type="date" [(ngModel)]="newRound.interview_date" name="interview_date" required
              [attr.min]="lastInterviewDate" />
          </div>

          <div>
            <label for="remarks">
              <span *ngIf="isReschedule; else remarksText">Reason:</span>
              <ng-template #remarksText>Remarks:</ng-template>
            </label>
            <textarea [(ngModel)]="newRound.remarks" name="remarks"
              placeholder="{{ isReschedule ? 'Enter reason for reschedule' : 'Enter remarks' }}"></textarea>
          </div>

          <div *ngIf="alertMessage" class="alert" [ngClass]="alertType">{{ alertMessage }}</div>
          <!-- Submit Button -->
          <!-- <button type="submit">Add Interview Round</button> -->
          <button type="submit">
            <span *ngIf="isReschedule; else addRoundButtonText">Reschedule Round</span>
            <ng-template #addRoundButtonText>Add Interview Round</ng-template>
          </button>
        </form>
      </div>
    </div>


    <!-- Candidate Update Modal -->
    <div *ngIf="showUpdateCandidate" class="modal">
      <div class="modal-content">
        <span class="close-btn" (click)="closeUpdateCandidateModal()">&lt;</span>
        <h2>Update <span class="underlined"> {{ selectedCandidate.Candidate_Name }}</span></h2>
        <form (submit)="updateCandidate()">
          <label for="name">Name:</label>
          <input type="text" [(ngModel)]="selectedCandidate.Candidate_Name" name="name" required>

          <label for="position">Position:</label>
          <select [(ngModel)]="selectedCandidate.Position" name="position"
            (change)="isCustomPosition = selectedCandidate.Position === 'Custom'">
            <option *ngFor="let position of interviewOptions.positions" [value]="position">{{ position }}</option>
          </select>

          <br> <br>
          <button type="submit">Update Candidate</button>

        </form>
        <div *ngIf="alertMessage" class="alert" [ngClass]="alertType">{{ alertMessage }}</div>
      </div>

    </div>

    <!-- Interview History Modal -->

    <div *ngIf="showHistory" class="modal-history">
      <div class="modal-content-history">
        <span class="close-btn" (click)="closeHistoryModal()">&lt;</span>
        <h3>Interview History for <span class="underlined"> {{ selectedCandidate.Candidate_Name }}</span></h3>
        <div class="view-history-table-container">
          <table class="view-history-table">
            <thead>
              <tr>
                <th>Round </th>
                <th>Interviewer</th>
                <th>Activity Date</th>
                <th>Update Date</th> <!-- New column for updated_at -->
                <th>Status</th>
                <th>Remarks</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let round of candidateHistory">
                <td>{{ round.Round_Number }}</td>
                <td>{{ round.Interviewer }}</td>
                <td>{{ round.Interview_Date }}</td>
                <td>{{ round.Updated_At }}</td> <!-- Display updated_at -->

                <td>{{ round.Status }}</td>
                <td class="remarks" [title]="round.Remarks || 'N/A'">
                  {{ round.Remarks}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>