<div class="navbar-main">
  <img src="credenca-logo.png" alt="Logo" class="navbar-logo" />
  <p class="navbar-center"> &nbsp; </p>
  <div class="navbar-right">
    <p>Welcome, {{ loggedInHR }}</p>
    <button *ngIf="isAdmin" (click)="toggleAdminPanel()">Open Admin Panel</button>

    <button class="change-password-button" (click)="showChangePasswordForm = !showChangePasswordForm">Change
      Password</button>
      <button class="logout-button" (click)="logout()">Logout</button>

  </div>
</div>

<div *ngIf="showChangePasswordForm" class="change-password-form">
  <h3>Change Password</h3>
  <form (ngSubmit)="changePassword()">
    <div>
      <label for="currentPassword">Current Password:</label>
      <input type="password" id="currentPassword" [(ngModel)]="currentPassword" name="currentPassword" required />
    </div>
    <div>
      <label for="newPassword">New Password:</label>
      <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required />
    </div>
    <div>
      <label for="confirmPassword">Confirm New Password:</label>
      <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required />
    </div>
    <button type="submit">Change Password</button>
  </form>
</div>


<div *ngIf="isAdmin && isAdminPanelVisible" class="admin-section">
  <h3>Admin Panel</h3>
  <button class="close" (click)="closeAdminPanel()">X</button>

  <div class="button-container">
    <button (click)="toggleSection('positions')">Manage Positions</button>
    <button (click)="toggleSection('statuses')">Manage Statuses</button>
    <button (click)="toggleSection('interviewers')">Manage Interviewers</button>
  </div>

  <!-- Manage Positions Section -->
  <div *ngIf="currentSection === 'positions'">
    <h4>Manage Positions</h4>
    <select [(ngModel)]="selectedAdminEntry.id" (change)="onPositionSelect()">
      <option value="" disabled selected>Select a position</option>
      <option *ngFor="let position of adminData.positions" [value]="position.position_id">{{ position.position_name }}
      </option>
    </select>
    <button *ngIf="selectedAdminEntry.id" (click)="deleteAdminEntry('position', selectedAdminEntry.id)">Delete
      Position</button>
    <input [(ngModel)]="newPositionEntry.name" placeholder="New Position" />
    <div *ngIf="alertMessage" class="alert" [ngClass]="alertType">
      {{ alertMessage }}
    </div>
    <button (click)="addAdminEntry('position')">Add Position</button>
  </div>

  <!-- Manage Statuses Section -->
  <div *ngIf="currentSection === 'statuses'">
    <h4>Manage Statuses</h4>
    <select [(ngModel)]="selectedAdminEntry.id" (change)="onStatusSelect()">
      <option value="" disabled selected>Select a status</option>
      <option *ngFor="let status of adminData.statuses" [value]="status.status_id">{{ status.status_name }}</option>
    </select>
    <button *ngIf="selectedAdminEntry.id" (click)="deleteAdminEntry('status', selectedAdminEntry.id)">Delete
      Status</button>
    <input [(ngModel)]="newStatusEntry.name" placeholder="New Status" />
    <div *ngIf="alertMessage" class="alert" [ngClass]="alertType">
      {{ alertMessage }}
    </div>
    <button (click)="addAdminEntry('status')">Add Status</button>
  </div>

  <!-- Manage Interviewers Section -->
  <div *ngIf="currentSection === 'interviewers'">
    <h4>Manage Interviewers</h4>
    <select [(ngModel)]="selectedAdminEntry.id" (change)="onInterviewerSelect()">
      <option value="" disabled selected>Select an interviewer</option>
      <option *ngFor="let interviewer of adminData.interviewers" [value]="interviewer.interviewer_id">{{
        interviewer.interviewer_name }}</option>
    </select>
    <button *ngIf="selectedAdminEntry.id" (click)="deleteAdminEntry('interviewer', selectedAdminEntry.id)">Delete
      Interviewer</button>
    <input [(ngModel)]="newInterviewerEntry.name" placeholder="New Interviewer" />
    <div *ngIf="alertMessage" class="alert" [ngClass]="alertType">
      {{ alertMessage }}
    </div>
    <button (click)="addAdminEntry('interviewer')">Add Interviewer</button>
  </div>

</div>



<br><br>



<!-- hr  if role -->
<div *ngIf="isHR">


  <div class="container">

    <!-- Button to Open Modal -->
    <button (click)="openModal()">Add New Candidate</button>

    <!-- Modal for Adding New Candidate -->
    <div class="modal" *ngIf="isModalOpen">
      <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <h2>Add New Candidate</h2>
        <form (ngSubmit)="addNewCandidate()">

          <!-- Candidate Name -->
          <div>
            <label for="name">Name:</label>
            <input [(ngModel)]="newCandidate.name" name="name" placeholder="Enter Name" required />
          </div>

          <!-- Candidate Position -->
          <div>
            <label for="position">Position:</label>
            <select [(ngModel)]="newCandidate.position" name="position" required>
              <option value="" disabled>Select position</option>
              <option *ngFor="let position of interviewOptions.positions" [value]="position">{{ position }}</option>
            </select>
          </div>

          <!-- Round Number -->
          <div>
            <label for="round_number">Round:</label>
            <select [(ngModel)]="newRound.round_number" name="round_number"
              (change)="isCustomRound = newRound.round_number === 'Custom'" required>
              <option value="" disabled>Select Round Number</option>
              <option *ngFor="let round of interviewOptions.roundNumbers" [value]="round">{{ round }}</option>
              <!-- <option value="Custom">Custom</option> -->
            </select>
          </div>
          <!-- <div *ngIf="isCustomRound">
            <label for="customRoundNumber">Enter Custom Round Number:</label>
            <input type="text" [(ngModel)]="newRound.customRoundNumber" name="customRoundNumber"
              placeholder="Type custom round number" />
          </div> -->

          <!-- Interviewer -->
          <div>
            <label for="interviewer">Interviewer:</label>
            <select [(ngModel)]="newRound.interviewer" name="interviewer" required>
              <option value="" disabled>Select Interviewer</option>
              <option *ngFor="let interviewer of interviewOptions.interviewers" [value]="interviewer">{{ interviewer }}
              </option>
            </select>
          </div>

          <!-- Interview Date -->
          <div>
            <label for="interview_date">Interview Date:</label>
            <input type="date" [(ngModel)]="newRound.interview_date" name="interview_date" [min]="todayDate" required />
          </div>

          <!-- Status -->
          <div>
            <label for="status">Status:</label>
            <select [(ngModel)]="newRound.status" name="status" required>
              <option value="" disabled>Select Status</option>
              <option *ngFor="let status of interviewOptions.statuses" [value]="status">{{ status }}</option>
            </select>
          </div>

          <!-- Remarks -->
          <div>
            <label for="remarks">Remarks:</label>
            <textarea [(ngModel)]="newRound.remarks" name="remarks" placeholder="Any Remarks?"></textarea>
          </div>

          <!-- Submit Button -->
          <div *ngIf="alertMessage" class="alert" [ngClass]="alertType">{{ alertMessage }}</div>
          <button type="submit">Add New Candidate</button>
        </form>
      </div>
    </div>

    


    <!-- candidate list -->
    <div class="get-candidate-table-container">
      <h2>Candidate List</h2>
      <div class="get-candidate-table">
        <table>
          <thead>
            <tr>
              <th>Serial No.</th>
              <th>Name</th>
              <th>Position</th>
              <th>Round</th>
              <th>Interviewer</th>
              <th>Activity Date</th>

              <th>Update Date</th> <!-- Add this column -->

              <th>Status</th>
              <th>Remarks</th>
              <th>Decision</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let candidate of paginatedCandidates; let i = index">
              <td>{{ (currentPage - 1) * pageSize + (i + 1) }}</td> <!-- Display correct serial number -->
              <td>{{ candidate.Candidate_Name }}</td>
              <td>{{ candidate.Position }}</td>
              <td>{{ candidate.Round_Number || 'N/A' }}</td>
              <td>{{ candidate.Interviewer || 'N/A' }}</td>
              <td>{{ candidate.Interview_Date || 'N/A' }}</td>
              <td>{{ candidate.Updated_At || 'N/A' }}</td> <!-- Add this field -->

              <!-- <td>{{ candidate.Status || 'N/A' }}</td> -->
              <td 
                [ngClass]="{
                  'status-selected': candidate.Status === 'Selected' || candidate.Status === 'Final Selected',
                  'status-rejected': candidate.Status === 'Rejected',
                  'status-other': candidate.Status !== 'Selected' && candidate.Status !== 'Final Selected' && candidate.Status !== 'Rejected'
                }"
              >
                {{ candidate.Status || 'N/A' }}
              </td>

              <td class="remarks" [title]="candidate.Remarks || 'N/A'">
                {{ candidate.Remarks  }}
              </td>
              <!-- <td>
                <button (click)="selectCandidateForNextRound(candidate)">Selected</button>
                <button (click)="rejectCandidate(candidate)">Rejected</button>
              </td> -->
              <td>
                <button (click)="openDecisionModal(candidate)" [disabled]="candidate.Status === 'Rejected'">Decision</button>
              </td>
              <td>
                <ng-container *ngIf="candidate.Status === 'Schedule'; else addRound">
                  <button (click)="showAddRoundSection(candidate)" [disabled]="candidate.Status === 'Rejected'">Reschedule</button>
                </ng-container>
                <ng-template #addRound>
                  <button 
                    (click)="showAddRoundSection(candidate)" 
                    [disabled]="candidate.Status === 'Rejected'"
                  >
                    Add Round
                  </button>
                </ng-template>
                <button (click)="selectCandidate(candidate); $event.stopPropagation()">...</button>
              </td>
              
              <!-- <td>
                <ng-container *ngIf="candidate.Status === 'Schedule'; else addRound">
                  <button (click)="showAddRoundSection(candidate)" >Reschedule</button>
                </ng-container>
                <ng-template #addRound>
                  <button (click)="showAddRoundSection(candidate)">Add Round</button>
                </ng-template>
                <button (click)="selectCandidate(candidate); $event.stopPropagation()">...</button>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Pagination Controls -->
      <!-- Pagination Controls -->
      <div class="pagination-controls">
        <button (click)="previousPage()" [disabled]="currentPage === 1" class="pagination-button">Previous</button>
        <span>Page {{ currentPage }} of {{ totalPages }}</span>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="pagination-button">Next</button>
      </div>

    </div>




 




    <!-- Modal for Actions (Update, View History, Delete) -->
    <div *ngIf="showActionModal" class="modal">
      <div class="modal-content">
        <span class="close" (click)="closeActionModal()">&times;</span> <!-- Close button -->
        <h2>Actions for <span class="underlined">{{ selectedCandidate.Candidate_Name }}</span></h2>
        <div class="button-group">

          <button class="action-button" (click)="showUpdateCandidateSection()">Update Candidate</button>
          <button class="action-button" (click)="showHistorySection()">View History</button>
<!-- Add a button to update the last interview round -->
          <button class="action-button" (click)="openUpdateLastRoundModal()">Update Round</button>

          <button  *ngIf="isAdmin && isHR" class="action-button"
            (click)="deleteInterviewRound(selectedCandidate.Candidate_ID, selectedCandidate.Round_Number, selectedCandidate.Candidate_Name)">
            Delete Round
          </button>
        </div>
        <div *ngIf="alertMessage" class="alert" [ngClass]="alertType">{{ alertMessage }}</div>
      </div>
    </div>




    <div *ngIf="showModal" class="modal">
      <div class="modal-content">
        <form (submit)="submitDecision()">
          <h2>Make a Decision for <span class="underlined">{{ currentCandidate.Candidate_Name }}</span></h2>
          <select id="decision" [(ngModel)]="selectedDecision" name="decision" required>
            <option value="Selected">Selected</option>
            <option value="Rejected">Rejected</option>
            <option value="On Hold">On Hold</option>
            <option value="Final Selected">Final Selected</option>
          </select>          
    
          <label for="interviewDate">Interview Date</label>
          <input
            type="date"
            id="interviewDate"
            [(ngModel)]="interviewDate"
            name="interviewDate"
            [min]="lastInterviewDate" 
            required 
          />
    
          <label for="remarks">Remarks</label>
          <textarea id="remarks" [(ngModel)]="remarks" name="remarks"></textarea>
    
          <div class="modal-actions">
            <div *ngIf="alertMessage" class="alert" [ngClass]="alertType">{{ alertMessage }}</div>

            <button type="submit" class="submit-button">Submit</button>
            <span class="close" (click)="closeDecisionModal()">&times;</span> <!-- Close button -->

          </div>
        </form>
      </div>
    </div>
    


<!-- Modal for Updating Last Interview Round -->
<div class="modal" *ngIf="showUpdateLastRoundModal">
  <div class="modal-content">
    <span class="close" (click)="toggleUpdateLastRoundModal()">&times;</span>
    <h2>Update Interview Round for <span class="underlined">{{ selectedCandidate.Candidate_Name }}</span></h2>
    <form (ngSubmit)="updateLastRound()">
      <!-- Round Number Selection -->
      <div>
        <label for="round_number">Round:</label>
        <select [(ngModel)]="updatedRound.round_number" name="round_number" required>
          <option value="" disabled>Select Round Number</option>
          <option *ngFor="let round of interviewOptions.roundNumbers" [value]="round">{{ round }}</option>
          <!-- <option value="Custom">Custom</option> -->
        </select>
      </div>
      <!-- <div *ngIf="updatedRound.round_number === 'Custom'">
        <label for="customRoundNumber">Enter Custom Round Number:</label>
        <input type="text" [(ngModel)]="updatedRound.customRoundNumber" name="customRoundNumber" />
      </div> -->

      <!-- Interviewer Selection -->
      <div>
        <label for="interviewer">Interviewer:</label>
        <select [(ngModel)]="updatedRound.interviewer" name="interviewer" required>
          <option value="" disabled>Select Interviewer</option>
          <option *ngFor="let interviewer of interviewOptions.interviewers" [value]="interviewer">{{ interviewer }}</option>
        </select>
      </div>

      <!-- Interview Date -->
      <div>
        <label for="interview_date">Interview Date:</label>
        <input type="date" [(ngModel)]="updatedRound.interview_date" name="interview_date" required [attr.min]="lastInterviewDate" />
      </div>

      <!-- Status -->
      <div>
        <label for="status">Status:</label>
        <select [(ngModel)]="updatedRound.status" name="status" required>
          <option value="" disabled>Select Status</option>
          <option *ngFor="let status of interviewOptions.statuses" [value]="status">{{ status }}</option>
        </select>
      </div>

      <!-- Remarks -->
      <div>
        <label for="remarks">Remarks:</label>
        <textarea [(ngModel)]="updatedRound.remarks" name="remarks"></textarea>
      </div>
      <div *ngIf="alertMessage" class="alert" [ngClass]="alertType">{{ alertMessage }}</div>

      <!-- Submit Button -->
      <button type="submit">Update Interview Round</button>
    </form>
  </div>
</div>












    <!-- Add New Interview Round Form for Selected Candidate -->
    <!-- Modal for Adding Interview Round -->
    <div class="modal" *ngIf="showAddRoundModal">
      <div class="modal-content">
        <span class="close" (click)="toggleAddRoundModal()">&times;</span>
        <h2>Add Interview Round for <span class="underlined">{{ selectedCandidate.Candidate_Name }}</span></h2>
        <form (ngSubmit)="addNewRound()">
          <!-- Round Number Selection -->
          <div>
            <label for="round_number">Round:</label>
            <select [(ngModel)]="newRound.round_number" name="round_number" required>
              <option value="" disabled>Select Round Number</option>
              <option *ngFor="let round of interviewOptions.roundNumbers" [value]="round">{{ round }}</option>
              <!-- <option value="Custom">Custom</option> -->
            </select>
          </div>
          <!-- <div *ngIf="newRound.round_number === 'Custom'">
            <label for="customRoundNumber">Enter Custom Round Number:</label>
            <input type="text" [(ngModel)]="newRound.customRoundNumber" name="customRoundNumber"
              placeholder="Type custom round number" />
          </div> -->

          <!-- Interviewer Selection (No Custom Option) -->
          <div>
            <label for="interviewer">Interviewer:</label>
            <select [(ngModel)]="newRound.interviewer" name="interviewer" required>
              <option value="" disabled>Select Interviewer</option>
              <option *ngFor="let interviewer of interviewOptions.interviewers" [value]="interviewer">{{ interviewer }}
              </option>
            </select>
          </div>

          <!-- Interview Date Selection -->
          <div>
            <label for="interview_date">Interview Date:</label>
            <input type="date" [(ngModel)]="newRound.interview_date" name="interview_date" required
              [attr.min]="lastInterviewDate" />
          </div>

          <!-- Status Selection (No Custom Option) -->
          <div>
            <label for="status">Status:</label>
            <select [(ngModel)]="newRound.status" name="status" required>
              <option value="" disabled>Select Status</option>
              <option *ngFor="let status of interviewOptions.statuses" [value]="status">{{ status }}</option>
            </select>
          </div>

          <!-- Remarks -->
          <div>
            <label for="remarks">Remarks:</label>
            <textarea [(ngModel)]="newRound.remarks" name="remarks"></textarea>
          </div>
          <div *ngIf="alertMessage" class="alert" [ngClass]="alertType">{{ alertMessage }}</div>
          <!-- Submit Button -->
          <button type="submit">Add Interview Round</button>
        </form>
      </div>
    </div>


    <!-- Candidate Update Modal -->
    <div *ngIf="showUpdateCandidate" class="modal">
      <div class="modal-content">
        <span class="close-btn" (click)="closeUpdateCandidateModal()">&lt;</span>
        <h2>Update <span class="underlined"> {{ selectedCandidate.Candidate_Name }}</span></h2>
        <form (submit)="updateCandidate()">
          <label for="name">Name:</label>
          <input type="text" [(ngModel)]="selectedCandidate.Candidate_Name" name="name" required>

          <label for="position">Position:</label>
          <select [(ngModel)]="selectedCandidate.Position" name="position"
            (change)="isCustomPosition = selectedCandidate.Position === 'Custom'">
            <option *ngFor="let position of interviewOptions.positions" [value]="position">{{ position }}</option>
            <!-- <option value="Custom">Custom</option> -->
          </select>

          <!-- Custom Position Input -->
          <!-- <div *ngIf="isCustomPosition">
            <label for="customPosition">Enter Custom Position:</label>
            <input type="text" [(ngModel)]="selectedCandidate.customPosition" name="customPosition" required>
          </div> -->
          <br> <br>
          <button type="submit">Update Candidate</button>

        </form>
        <div *ngIf="alertMessage" class="alert" [ngClass]="alertType">{{ alertMessage }}</div>

      </div>

    </div>

    <!-- Interview History Modal -->
    <!-- <div *ngIf="showHistory" class="modal-history">
      <div class="modal-content-history">
        <span class="close-btn" (click)="closeHistoryModal()">&lt;</span>
        <h3>Interview History for {{ selectedCandidate.Candidate_Name }}</h3>
        <table class="view-history-table">
          <thead>
            <tr>
              <th>Round </th>
              <th>Interviewer</th>
              <th>Interview Date</th>
              <th>Status</th>
              <th>Remarks</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let round of candidateHistory">
              <td>{{ round.Round_Number }}</td>
              <td>{{ round.Interviewer }}</td>
              <td>{{ round.Interview_Date }}</td>
              <td>{{ round.Status }}</td>
              <td class="remarks" [title]="round.Remarks || 'N/A'">
                {{ round.Remarks || 'N/A' }}
              </td>              
            </tr>
          </tbody>
        </table>
      </div>
    </div> -->


    <div *ngIf="showHistory" class="modal-history">
      <div class="modal-content-history">
        <span class="close-btn" (click)="closeHistoryModal()">&lt;</span>
        <h3>Interview History for <span class="underlined"> {{ selectedCandidate.Candidate_Name }}</span></h3>
        <div class="view-history-table-container">
          <table class="view-history-table">
            <thead>
              <tr>
                <th>Round </th>
                <th>Interviewer</th>
                <th>Activity Date</th>
                <th>Update Date</th> <!-- New column for updated_at -->
                <th>Status</th>
                <th>Remarks</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let round of candidateHistory">
                <td>{{ round.Round_Number }}</td>
                <td>{{ round.Interviewer }}</td>
                <td>{{ round.Interview_Date }}</td>
                <td>{{ round.Updated_At }}</td> <!-- Display updated_at -->

                <td>{{ round.Status }}</td>
                <td class="remarks" [title]="round.Remarks || 'N/A'">
                  {{ round.Remarks}}
                </td>              
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
  </div>
</div>